{% extends 'base.html' %}

{% block wrapper %}
<section>
	<h2>Contato</h2>
	<article>
		Quer fazer reclamações, tem uma sugestão para melhorar o site ou quer nos enviar uma pergunta?<br>
		Então mande-nos uma mensagem sobre esses e outros assuntos, estamos sempre ouvindo os usuários e fazendo o possível para responder rapidamente. Ou se preferir envie um e-mail para <a href="mailto:contact@puuublic.com">contact@puuublic.com</a>
	</article>
	<article>
		<form action="{% url website:contato %}" name='form_contact'
        class="form_contact" method="POST" enctype="multipart/form-data" onsubmit="return false">
            {% csrf_token %}
			<div class="form_right">
				<p>
			        <label for="id_message" title="{{ form.message.help_text }}">Mensagem:</label>
			        {{ form.message }}
				</p>
				<p>
					<span>*Preenchimento obrigatório</span>
					<input type="submit" value="Enviar &rarr;" />
				</p>
			</div>
			<div class="form_left">
			    <p>
			        <label for="id_name" title="{{ form.name.help_text }}">Nome*:</label>
			        {{ form.name }}
				</p>
				<p>
			        <label for="id_city" title="{{ form.city.help_text }}">Cidade:</label>
			        {{ form.city }}
				</p>
				<p>
			        <label for="id_email" title="{{ form.email.help_text }}">E-mail*:</label>
			        {{ form.email }}
				</p>
				<p>
			        <label for="id_fone" title="{{ form.fone.help_text }}">Telefone:</label>
			        {{ form.fone }}
				</p>
			</div>
		</form>
	</article>
    <!-- modal content -->
    <div id="modal">
        <h2 class="alert">Puublic</h2>
        <p></p>
    </div>
</section>
{% endblock wrapper %}
