{% extends 'base.html' %}
{% load i18n thumbnail %}

{% block wrapper %}
{% if user.is_authenticated %}
Autenticado -.-
{% else %}
<section class='left_column'>
    <h3>O jeito mais legal de contar as novidades
    e ficar por dentro do que te interessa.</h3>
    <article>
        <figure>
            <img src="{{ STATIC_URL }}image/home-criar.png">
        </figure>
        <h4>Você pode criar um puuublic</h4>
        <div>
            Crie uma página pública para sua cidade, bairro, colégio,
            empresa, família, time, artista favorito ou qualquer assunto.
        </div>
    </article>
    <article>
        <figure>
            <img src="{{ STATIC_URL }}image/home-divulgar.png">
        </figure>
        <h4>Conte as novidade para todos</h4>
        <div>
            Publique textos, fotos e vídeos em qualquer puuublic.
            Conte para todo mundo o que é novidade para você.
        </div>
    </article>
    <article>
        <figure>
            <img src="{{ STATIC_URL }}image/home-favoritar.png">
        </figure>
        <h4>É mais fácil com os Favoritos</h4>
        <div>
            Favorite puuublics e pessoas e receba todas as Publicationações
            de seus favoritos e as mais populares em uma única página.
        </div>
    </article>
    <article>
        <figure>
            <img src="{{ STATIC_URL }}image/home-publicar.png">
        </figure>
        <h4>Divulgue com um clique</h4>
        <div>
            Gostou de alguma Publicationação? Envie para todos
            os seus leitores com apenas um clique.
        </div>
    </article>
    <article>
        <h4>Pesquise no Puuublic:</h4>
        <div>
            Encontre Publicationações, puuublics e pessoas.
        </div>
        <form action="{% url website:home %}" method="POST" name="search_Publication">
             {% include 'search_form.html' %}
        </form>
    </article>
</section>
<section class='right_column input_label'>
    <article>
        <h4>Já tem uma conta no Puuublic?</h4>
        <div>
            Digite usuário e senha. <a href='#'>Esqueceu?</a>
        </div>
        <form name='signin_form' id='id_signin_form' method='POST' action="{% url website:ajax_login %}" onsubmit='return false'>
            {% csrf_token %}
            <ul class='login_user'>
                {{ login_form.as_ul }}
                <li>
                    <input type='submit' value='Enviar' class='btn'>
                </li>
                <li class='error'></li>
            </ul>
        </form>
    </article>
    <article>
        <h4>Ainda não tem uma conta?</h4>
        <div>
            Crie uma conta agora mesmo. É rápido e de graça.
        </div>
        <form name='signup_form' method='POST' action='.'>
            {% csrf_token %}
            <ul class="register_form">
                {{ register_form.as_ul }}
                <li>
                    <button type='submit' class='send_large'>
                        Enviar
                    </button>
                </li>
            </ul>
        </form>
    </article>
</section>
<hr>
<section class="must_popular">
    <h4>Publicationações mais populares</h4>
    {% for pub in must_popular_publication_list %}
    <article>
		{% thumbnail pub.image "67" as im %}
		<figure>
			<img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
		</figure>
		{% empty %}
		<figure>
			<img src="{{ default.image.url }}" title="{{ pub.title }}" width="{{ default.image.width }}" height="{{ default.image.height }}">
		</figure>
		{% endthumbnail %}
        {{ publication.title }}
        <div>
            no puuublic <a href="#">{{ publication.user.username }}</a>
        </div>
    </article>
    {% endfor %}
</section>
<section class="last_publication_list">
    <h4>Publicationações mais recentes</h4>
    {% for pub in last_publication_list %}
    <article>
		{% thumbnail pub.image "67" as im %}
		<figure>
			<img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
		</figure>
		{% empty %}
		<figure>
			<img src="{{ default.image.url }}" title="{{ pub.title }}" width="{{ default.image.width }}" height="{{ default.image.height }}">
		</figure>
		{% endthumbnail %}
        {{ publication.title }}
        <div>
            no puuublic <a href="#">{{ publication.user.username }}</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endif %}
{% endblock wrapper %}

{% block js %} <script src="{{ STATIC_URL }}js/jquery.labelify.js"></script>
<script type="text/javascript" charset="utf-8">
    $("input").labelify({
        text : "label"
    });

</script>
{% endblock js %} 