{% extends 'base_2col.html' %}
{% load i18n thumbnail default_image %}

{% block aside %}
		<h4>{{ user.get_full_name|default:user|capfirst }}</h4>
		
		<div>Puuublics favoritados: </div>
		<div>Pessoas favoritadas: </div>
		<div>Leitores: </div>
		<div>Publicações: </div>
		<div>Visualizações: </div>
		<br>
		<strong>Quem é {{ user.get_full_name|default:user|capfirst }}</strong>
		<div>{{ user.get_profile.about }}</div>
		{# <br> #}
		{# 	 	<strong>Localização</strong> #}
		{# 		<div><a href="about">#</a></div> #}
		<br>
		<strong>Página pessoal</strong>
		<div><a href="{{ user.get_profile.url }}" >{{ user.get_profile.url }}</a></div>
		 
{% endblock aside %}

{% block wrapper %}
<article>
	<table>
		<tr>
			<td>
				<figure>
				{% if user.get_profile.image %}
					<img src="{{ user.get_profile.image.url }}" title="{{ user.username }}" width='67'>
				{% else %}
					<img src="{% random_image %}" title="{{ user.username }}" width='67'>
				{% endif %}
				</figure>
			</td>
			<td>
				<h4>{{ user.get_full_name|default:user|capfirst }}</h4>
				<div>Quais as novidades de {{ user.get_full_name|default:user|capfirst }}</div>
				<a href="{{ user.get_profile.url|default:'#' }}" target='_blank'>{{ user.get_profile.url }}</a>
			</td>
		</tr>
	</table>
</article>
<br/>
<h5>Publicações recentes</h5>
<hr/>

{% for pub in pub_list %}
		<article>
			{% thumbnail pub.image "40" as im %}
			<figure>
				<img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
			</figure>
			{% empty %}
			<figure>
				<img src="{% random_image %}" title="{{ pub.title }}" width="40">
			</figure>
			{% endthumbnail %}
				<h4>{{ pub.title }}</h4> 
				<h5>{{ pub.tie }}</h5>
 
				<div class='small article_footer'>Divulgado em {{ pub.date_created|date:"d/m/Y"}} às {{ pub.date_created|date:"H:i:s"}} por <a href="{{ pub.user.get_profile.get_absolute_url }}">{{ pub.user }}</a></div>
		</article>
		{% if not forloop.last %}
		<hr>
		{% endif %}
	{% empty %}
		<article>
			<h4> Nenhum Puuublic cadastrado {% if search %} para {{ search }} {% endif %} </h4>
		</article>
{% endfor %}

{% endblock wrapper %}