{% extends 'base.html' %} 

{% block main %}
<div class="container institucional">
        <h2>Quais as novidades?</h2>
        <hr/>    
        <br/>
        <h5>O que é o Puuublic?</h5>
            <p>O Puuuublic é uma nova forma de divulgar as novidades. Páginas públicas (puuublics) podem ser
    criadas por qualquer pessoa, para atender aos interesses de todos. Caso o usuário queira escrever ou
    ler sobre sua cidade, basta criar ou acessar o puuublic de sua cidade, da mesma forma para bairros,
    escolas, empresas, famílias, clubes, times, personalidades, ou qualquer outro assunto.</p>

            <p>O Puuublic gera igualdade de comunicação, de forma simples e aberta, pois nasceu do sonho da
    democratização da informação. Através das funcionalidades do site, os próprios usuários tornam-se os
    redatores e trazem aos leitores as informações de dentro das comunidades com bastante agilidade.
    Seja o conteúdo de interesse de pessoas do mundo todo, ou apenas dos moradores de um pequeno
    vilarejo, o Puuublic é o melhor lugar para divulgá-lo. E aí, quais as novidades? </p>
        <br/>
        <h5>Por que o Puuublic é diferente?</h5>

            <p>Muitas vezes interesses comerciais sobressaem à geração de conteúdo nas mídias tradicionais, e
    informações relevates são deixadas de lado. Além disso, a imprensa necessita de pessoas contratadas
    para cobrir os eventos, e geralmente as equipes levam um certo tempo para chegar aos locais dos
    acontecimentos, atrasando assim a divulgação dos fatos. Outros sites colaborativos têm foco no
    ambiente geral e deixam escapar novidades relevantes a pequenos grupos, além de que, seus processos
    de publicação são muito demorados. Os usuários do Puuublic tem liberdade e facilidade para
    escreverem o que realmente aconteceu, do local do evento (desde que tenha acesso à internet) e sem
    as pressões ou influências que eventualmente cercam as redações jornalísticas
    tradicionais.</p>

        <br/>
        <h5>Por que ler novidades no Puuublic?</h5>

     <p>Por que no Puuublic você tem acesso a um conteúdo muitas vezes deixado de lado por outros meios de
    comunicação, por não atender aos interesses comerciais, ou por ser de interesse de um grupo muito
    pequeno e não gerar grande audiência, como novidades do bairro, do colégio, da empresa, ou tantas
    outras que podem fazer a diferença no seu dia-a-dia.</p>

        <br/>
        <h5>Por que escrever no Puuublic?</h5>

        <p>Por que você pode contar o fatos como eles realmente aconteceram, com liberdade, facilidade e
    rapidez. Ao contrário de um blog, que é isolado e precisa ser conhecido para receber leitores, o
    Puuublic é uma rede que permite ao redator ganhar audiência de leitores vindos de outras páginas e
    Publicações relacionadas. Os usuários também podem usar o Puuublic para, por exemplo, auxiliá-los
    nas relações públicas de empresas, prefeituras, artistas, esportistas, etc.</p>

        <br/>
        <h5>Quem faz o Puuublic?</h5>
        <p>O Puuublic foi criado pelos sócios-fundadores da Puuublic Company.</p>
        <hr /> 
        <div class="row">
            <div class="span">
                <img src="{{ STATIC_URL }}img/puuublic_logo.png">
            </div>
            <div class="span">
                <p>Download do logotipo <br> Formatos: 
                    <a target="_blank" href="{{ STATIC_URL }}img/Logotipo.eps">eps</a> e <a target="_blank" href="{{ STATIC_URL }}img/puuublic_logo.png">png</a>
                </p>
            </div>
            <div class="span">
                <a href="{{ STATIC_URL }}img/favicon.ico"><img src="{{ STATIC_URL }}img/favicon.gif"/></a>
            </div>
            <div class="span">
                <p>Download do logotipo <br> Formatos: eps e png</p> 
            </div>
        </div>
        <hr /> 
{% endblock  %}
