{% extends 'base.html' %}
{% load i18n thumbnail default_image endless humanize %}

{% block title %}
Puuublic - Perfil de {{ get_user.get_full_name }}
{% endblock %}

{% block extra_meta %}
<meta name="author" content="{{ get_user.get_full_name|title }}"/>
<meta name="description" content="Puuublic - Perfil de {{ get_user.get_full_name }}">
<meta name="keywords" content="html, puuublic, perfil, {{ get_user.first_name }}">
{% endblock %}


{% block ogtags %}
<!-- OG -->
{% if get_user.get_profile.image %}
{% thumbnail get_user.get_profile.image "200x200" crop="center" as im %} 
<meta property="og:image" content="http://puuublic.com{{ im.url }}"/>
{% endthumbnail %}
{% else %}
<meta property="og:image" content="{% random_image %}"/>
{% endif %}
<meta property="og:title" content="Puuublic - Perfil de {{ get_user.get_full_name|title }}"/>
<meta property="og:type" content="profile"/>
{% if get_user.get_profile.nickname %}
<meta property="profile:username" content="{{ get_user.get_profile.nickname }}"/>
{% else %}
<meta property="profile:username" content="{{ get_user.get_profile.email }}"/>
{% endif %}
<meta property="profile:first_name" content="{{ get_user.first_name }}"/>
<meta property="profile:last_name" content="{{ get_user.last_name }}"/>
<meta property="og:url" content="{{ get_user.get_profile.url }}"/>
{% endblock %}

{% block main %}
<div class="container user-page">
    <div class="row" itemscope itemtype="http://schema.org/Person">
        <div class="span">
            {% if get_user.get_profile.image %}
            {% thumbnail get_user.get_profile.image "67x67" crop="center" as im %} 
            <img itemprop="image" src="{{ im.url }}" title="{{ get_user.get_username }}" width="67" height="67"/>
            {% endthumbnail %}
            {% else %}
            <img itemprop="image" src="{% random_image %}" title="{{ get_user.get_username }}" width='67'>
            {% endif %}
        </div>
        <div class="span">
          <h4 itemprop="name"><a itemprop="url" href="{{ get_user.get_profile.get_absolute_url }}">{{ get_user.get_full_name|default:get_user|capfirst }}</a></h4>
            {% if get_user.get_profile.url %}
            <p>{{ get_user.get_profile.url|urlize }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
    {% paginate pub_list %}
        <div class="span12">
            <h2>Publicações  mais recentes</h2>
            {% for pub in pub_list %}
            <div class="publication border-top">
                <div class="span1 picture">
                    <figure>
                        {% thumbnail pub.user.get_profile.image "37x37" crop="center" as im %}
                        <img src="{{ im.url }}" alt="pub.user" width="{{ im.width }}" height="{{ im.height }}"/>
                        {% empty %}
                        <img src="{% random_image %}" title="{{ pub.title }}" width="40">
                        {% endthumbnail %}                
                    </figure>
                </div>
                <div class="span">
                    <p class="pub-title"><a href="{{ pub.get_absolute_url }}">{{ pub.title }}</a></p>
                    <div>
                      <p class="small">{{ pub.updated_at|date:"d/m/Y"}} às {{ pub.updated_at|date:"H:i:s"}} por <a href="{{ pub.user.get_profile.get_absolute_url }}">{{ pub.user.get_full_name }}</a> no puuublic <a href="{{ pub.theme.get_absolute_url }}">{{ pub.theme }}</a></p>
                    </div> 
                </div>
                {% if get_user == request.user %}
                <div class="span">
                    <button class="green-button" onclick="window.location='{% url website:edit_publication pub.theme.slug pub.slug %}'">Editar</button>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% show_pages %}
</div>
{% endblock  %}
