{% extends 'base_2col.html' %}
{% load i18n thumbnail default_image endless %}



{% block aside %}

		<h4>{{ get_user.get_full_name|default:user|capfirst }} </h4>
		<div>Puuublics favoritados: </div>
		<div>Pessoas favoritadas: </div>
		<div>Leitores: </div>
		<div>Publicationações: </div>
		<div>Visualizações: </div>
		<br>
		<strong>Quem é {{ get_user.get_full_name|default:user|capfirst }}</strong>
		<div>{{ get_user.get_profile.about }}</div>
		{# <br> #}
		{# 	 	<strong>Localização</strong> #}
		{# 		<div><a href="about">#</a></div> #}
		<br>
		<strong>Página pessoal</strong>
		<div><a href="{{ get_user.get_profile.url }}" >{{ user.get_profile.url }}</a></div>

{% endblock aside %}

{% block wrapper %}
<article>
	<table width='600px'>
		<tr>
			<td width='80px'>
				<figure>
				{% if get_user.get_profile.image %}
					<img src="{{ get_user.get_profile.image.url }}" title="{{ get_user.username }}" width='67'>
				{% else %}
					<img src="{% random_image %}" title="{{ get_user.username }}" width='67'>
				{% endif %}
				</figure>
			</td>
			<td>
				<h4><a href="{{ get_user.get_absolute_url }}">{{ get_user.get_full_name|default:user|capfirst }}</a></h4>
				<div>Quais as novidades de {{ get_user.get_full_name|default:user|capfirst }}</div>
				<a href="{{ get_user.get_profile.url|default:'#' }}" target='_blank'>{{ get_user.get_profile.url }}</a>
				<div style='float:right'>
					{% if user.is_authenticated %}
					 <!-- TODO: if not follow -->
						<button>adicionar aos favoritos</button>
					<!-- TODO: show is folling -->
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
</article>
<br/>
<h5>Publicationações recentes</h5>
<hr/>

{% paginate pub_list %}
{% for pub in pub_list %}
		<article>
			{% thumbnail pub.image "40" as im %}
			<figure>
				<img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
			</figure>
			{% empty %}
			<figure>
				<img src="{% random_image %}" title="{{ pub.title }}" width="40">
			</figure>
			{% endthumbnail %}
				<h4><a href="{{ pub.get_absolute_url }}">{{ pub.title }}</a></h4>
				<h5>{{ pub.tie }}</h5>
				<div class='small article_footer'>Divulgado em {{ pub.date_created|date:"d/m/Y"}} às {{ pub.date_created|date:"H:i:s"}} por <a href="{{ pub.user.get_profile.get_absolute_url }}">{{ pub.user }}</a></div>
		</article>
		{% if not forloop.last %}
		<hr>
		{% endif %}
	{% empty %}
		<article>
			<h4> Nenhum Puuublic cadastrado {% if search %} para {{ search }} {% endif %} </h4>
		</article>
{% endfor %}
{% show_pages %}

{% endblock wrapper %}