{% extends 'base.html' %}
{% block wrapper %}
<section>
	<h2>Licensa de uso do sistema Puuublic</h2>

	<article>
		A LICENÇA DE USO forma um contrato de Licenciamento de Software, com as normas que regem o uso do SISTEMA PUUUBLIC por parte de seus usuários. A concordância com a LICENÇA DE USO é pré-requisito para o cadastramento do USUÁRIO no SISTEMA PUUUBLIC.
	</article>

	<article>
		<h5>DAS PARTES</h5>
		De um lado a empresa licenciadora, outorgante do direito de uso do SISTEMA PUUUBLIC, DE OLIVEIRA E DEQUECH CIA LTDA, empresa brasileira, privada, inscrita no CNPJ sob o nº 09.438.598/0001-70, com sede junto à Avenida dos Estados, nº 539, AP 12 bloco B, Curitiba-PR, CEP 80610-040, Brasil, doravante denominada simplesmente de PUUUBLIC.
		De outro lado, como usuária do SISTEMA PUUUBLIC, a pessoa que aceita esta LICENÇA DE USO, qualificada através do cadastro realizado no website da PUUUBLIC, doravante denominada simplesmente de USUÁRIO.
		Os serviços de software oferecidos pela PUUUBLIC através do webiste www.puuublic.com, são denominados nesta LICENÇA DE USO como SISTEMA PUUUBLIC.
	</article>

	<article>
		<h5>1. Relação entre o USUÁRIO e a PUUUBLIC</h5>
		A LICENÇA DE USO do SISTEMA PUUUBLIC forma um acordo entre as partes, com efeito jurídico, referente ao uso dos serviços e funcionalidades do software oferecido pela PUUUBLIC.
	</article>
	<article>
		<h5>2. Aceitação da LICENÇA DE USO</h5>
		O USUÁRIO só poderá utilizar o SISTEMA PUUUBLIC se estiver de acordo com o LICENÇA DE USO.
		Ao cadastrar-se no SISTEMA PUUUBLIC, a PUUUBLIC considera que o USUÁRIO está de acordo com o LICENÇA DE USO.
		O USUÁRIO não poderá usar o SISTEMA PUUUBLIC se tiver menos de 18 anos.
	</article>
	<article>
		<h5>3. Idioma da LICENÇA DE USO</h5>
		3.1 O português é a língua utilizada pelo SISTEMA PUUUBLIC e pelo LICENÇA DE USO.
		3.2 Em caso de contradição entre a versão original, em língua portuguesa (Brasil), da LICENÇA DE USO, e uma tradução para outro idioma, a versão em língua portuguesa prevalecerá.
	</article>
	<article>
		<h5>4. Gestão do SISTEMA PUUUBLIC pela PUUUBLIC</h5>
		A PUUUBLIC pode alterar ocasionalmente qualquer forma e natureza do SISTEMA PUUUBLIC.
		A PUUUBLIC pode deixar, permanente ou temporariamente, de fornecer os serviços do SISTEMA PUUUBLIC ou qualquer funcionalidade dele aos USUÁRIOS em geral, sem aviso prévio. 
		A PUUUBLIC pode desativar a conta de um USUÁRIO a qualquer momento. E o USUÁRIO poderá ser impedido de acessar qualquer outro arquivo ou conteúdo presente na sua conta desativada.
		A PUUUBLIC pode fixar limites máximos quanto ao número de transmissões possíveis de enviar ou receber no SISTEMA PUUUBLIC ou quanto ao espaço de armazenamento utilizado pelo USUÁRIO.
		A PUUUBLIC se reserva ao direito de nunca permitir a exclusão definitiva dos perfis de USUÁRIO cadastrados no SISTEMA PUUUBLIC.
		A PUUUBLIC não garante que todas as informações postadas no SISTEMA PUUUBLIC sejam verdadeiras.
		A responsabilidade civil e criminal quanto ao conteúdo postado pelo USUÁRIO é de única e exclusiva responsabilidade do USUÁRIO.
		A PUUUBLIC não permite que seus USUÁRIOS editem ou excluam conteúdos publicados no SISTEMA PUUUBLIC.
	</article>
	<article>
		<h5>5. Uso do SISTEMA PUUUBLIC por parte do USUÁRIO</h5>
		Para o USUÁRIO usar o SISTEMA PUUUBLIC ele precisa fornecer algumas informações pessoais no processo de registro.
		O SISTEMA PUUUBLIC deve ser usado com base no princípio de que todos os USUÁRIOS tem o direito de expressarem suas opiniões e convicções, sendo vedado o anonimato.
		O USUÁRIO concorda em usar o SISTEMA PUUUBLIC somente para os fins permitidos pela LICENÇA DE USO, e dentro dos limites legais, sendo expressamente vedado o uso do SISTEMA PUUUBLIC para fins ilícitos.
		O USUÁRIO concorda em não acessar qualquer serviço da PUUUBLIC através de meios que não sejam a interface do SISTEMA PUUUBLIC. 
		O USUÁRIO concorda também especificamente em não acessar o SISTEMA PUUUBLIC através de meios automatizados, inclusive o uso de scripts. Bem como concorda com as instruções definidas no arquivo robots.txt.
		O USUÁRIO concorda que será responsável pelo cumprimento das suas obrigações no que diz respeito à LICENÇA DE USO e pelas consequências resultantes do descumprimento, incluindo qualquer perda ou dano que a PUUUBLIC possa sofrer.
	</article>
	<article>
		<h5>6. Segurança da conta e senha do USUÁRIO</h5>
		O USUÁRIO é o único responsável por manter a confidencialida de sua senha.
		O USUÁRIO é o único responsável por todas as atividades que ocorram em sua conta.
	</article>
	<article>
		<h5>7. Privacidade e informações pessoais do USUÁRIO</h5>
		Os dados do USUÁRIO poderão ser utilizados conforme a Política de Privacidade da PUUUBLIC.
	</article>
	<article>
		<h5>8. Conteúdo nos Serviços</h5>
		O USUÁRIO aceita que a responsabilidade integral por todas as informações presentes no SISTEMA PUUUBLIC, ou exibidas através da utilização do mesmo, é da pessoa que deu origem a esse conteúdo.
		O USUÁRIO deverá estar ciente de que o conteúdo que lhe é apresentado no SISTEMA PUUUBLIC pode estar protegido por direito de autor ou outros direitos de propriedade intelectual. O USUÁRIO não poderá se favorecer financeiramente através do uso de propriedades intelectuais alheias sem autorização de seus proprietários e/ou titulares.
		A PUUUBLIC poderá remover qualquer conteúdo do SISTEMA PUUUBLIC sob ordem judicial.
		O USUÁRIO compreende que pode estar exposto a conteúdo que possa considerar ofensivo, indecente ou censurável utiliza o SISTEMA PUUUBLIC por sua conta e risco.
		O USUÁRIO concorda que é o único responsável por qualquer conteúdo que crie, publique ou transmita no SISTEMA PUUUBLIC e pelas conseqüências das suas ações resultantes disso, incluindo qualquer perda ou dano que a PUUUBLIC possa sofrer.
	</article>
	<article>
		<h5>9. Direitos de propriedade</h5>
		A PUUUBLIC é a única e exclusiva titular, autora e proprietária do SISTEMA PUUUBLIC.
		O USUÁRIO é o titular dos direitos de autor sobre o conteúdo de sua autoria que submeter ao SISTEMA PUUUBLIC. Portanto, a PUUUBLIC sempre citará o USUÁRIO gerador do conteúdo quando utilizar conteúdo de seus USUÁRIOS.
		Nos casos em que o USUÁRIO seja um contratado da PUUUBLIC o conteúdo gerado por ele será de titularidade da PUUUBLIC.
		O USUÁRIO não tem o direito de remover, ocultar ou alterar avisos de direitos de propriedade, de direitos de autor e de marcas comerciais presentes no SISTEMA PUUUBLIC.
	</article>
	<article>
		<h5>10. Licença do SISTEMA PUUUBLIC</h5>
		A PUUUBLIC concede ao USUÁRIO uma licença pessoal, internacional, isenta de royalties e não exclusiva para utilizar o SISTEMA PUUUBLIC. Essa licença tem como único objetivo permitir o uso, por parte do USUÁRIO, dos benefícios do SISTEMA PUUUBLIC da forma permitida pela LICENÇA DE USO.
		O USUÁRIO não pode copiar, modificar, criar uma obra derivada de, realizar engenharia reversa, descompilar ou tentar extrair o código-fonte do SISTEMA PUUUBLIC ou de qualquer parte que o componha.
		O USUÁRIO não pode transferir de nenhuma forma esta LICENÇA DE USO do SISTEMA PUUUBLIC, pois ela tem caráter personalíssimo.
	</article>
	<article>
		<h5>11. Licença de conteúdo do USUÁRIO</h5>
		O USUÁRIO tem direitos autorais sobre os conteúdos que enviar, publicar ou exibir no SISTEMA PUUUBLIC. Ao enviar, publicar ou exibir conteúdo, o USUÁRIO concede à PUUUBLIC uma licença irrevogável, perpétua, mundial, isenta de royalties e não exclusiva de reproduzir, adaptar, modificar, traduzir, publicar, exibir publicamente e distribuir o conteúdo publicado no sistema SISTEMA PUUUBLIC.
		O USUÁRIO confirma e garante à PUUUBLIC que tem todos os direitos, poderes e autoridade necessários para concordar com a licença de conteúdo do USUÁRIO.
	</article>
	<article>
		<h5>12. Atualizações do SISTEMA PUUUBLIC</h5>
		O SISTEMA PUUUBLIC pode ser ocasionalmente atualizado pela PUUUBLIC para melhoria de sua usabilidade, inclusão de novas funcionalidades e quaisquer outras modificações necessárias.
	</article>
	<article>
		<h5>13. Término da relação do USUÁRIO com a PUUUBLIC</h5>
		A PUUUBLIC pode, a qualquer momento, encerrar o contrato com o USUÁRIO se o mesmo tiver violado qualquer cláusula da LICENÇA DE USO ou se o fornecimento do SISTEMA PUUUBLIC não seja, na opinião da PUUUBLIC, comercialmente viável.
		A PUUUBLIC não deleta perfis de USUÁRIO. A forma de a PUUUBLIC encerrar o contrato com um USUÁRIO é tornando seu perfil de USUÁRIO inativo.
		Nada nesta Seção afetará os direitos da PUUUBLIC relativos ao fornecimento do SISTEMA PUUUBLIC de acordo com a Seção 4 desta LICENÇA DE USO.
	</article>
	<article>
		<h5>14. Limites de Responsabilidade</h5>
		A PUUUBLIC não é responsável por quaisquer danos diretos, indiretos, incidentais, especiais, consequenciais ou exemplares, incorridos pelo USUÁRIO, causados sob qualquer teoria de responsabilidade. Isso incluirá qualquer perda de lucros, qualquer perda relacionada com boa fé ou reputação comercial, qualquer perda de dados que o USUÁRIO possa sofrer, custos de aquisição de bens ou serviços ou outra perda tangível.
		A PUUUBLIC não é responsável por qualquer perda ou dano em que o USUÁRIO possa incorrer, inclusive em decorrência de:
		Qualquer alteração no SISTEMA PUUUBLIC, incluindo qualquer cessação permanente ou temporária de qualquer funcionalidade que faça parte dele.
		Eliminação, corrupção ou incapacidade de armazenamento de qualquer conteúdo mantido ou transmitido no SISTEMA PUUUBLIC.
		Não fornecimento de informações corretas por parte do USUÁRIO.
		A não manutenção da segurança, por parte do USUÁRIO, dos seus dados confidenciais, incluindo detalhes de sua conta e senha.
		Download de qualquer arquivo obtido pelo USUÁRIO pelo SISTEMA PUUUBLIC.
		Qualquer publicidade presente no SISTEMA PUUUBLIC.
		As limitações de responsabilidade da PUUUBLIC perante USUÁRIO citadas nos parágrafos 14.1 e 14.2 acima serão aplicáveis independente de a PUUUBLIC ter sido ou não notificada, e mesmo que devesse ter conhecimento da possibilidade de ocorrência de tais perdas.
	</article>
	<article>
		<h5>15. Outros conteúdos</h5>
		Tendo em vista que todo o conteúdo do SISTEMA PUUUBLIC é gerado pelos USUÁRIOS, a PUUUBLIC pode não ter nenhum controle sobre qualquer site ou recursos da web fornecidos ou apresentados por outras empresas ou pessoas através do SISTEMA PUUUBLIC.
		O USUÁRIO concorda ainda que a PUUUBLIC não é responsável pela disponibilidade de qualquer um destes sites ou recursos externos ao SISTEMA PUUUBLIC ou pelos danos causados por eles.
		A PUUUBLIC não endossa qualquer anúncio, produto ou outro material apresentado por terceiros no SISTEMA PUUUBLIC, ou disponíveis e/ou originados em tais sites e recursos da web.
	</article>
	<article>
		<h5>16. Alterações na LICENÇA DE USO</h5>
		A PUUUBLIC pode alterar a qualquer momento a LICENÇA DE USO. Quando isto ocorrer a PUUUBLIC fará uma postagem no SISTEMA PUUUBLIC.
		O USUÁRIO concorda que se utilizar o SISTEMA PUUUBLIC após a data de alteração da LICENÇA DE USO, a PUUUBLIC considerará essa utilização como uma aceitação deles.
	</article>
	<article>
		<h5>17.  Aspectos Jurídicos Gerais</h5>
		a LICENÇA DE USO constitui o contrato entre a PUUUBLIC e o USUÁRIO, e regula a utilização do SISTEMA PUUUBLIC.
		As relações entre o USUÁRIO e a PUUUBLIC, bem como esta LICENÇA DE USO, são regidas exclusivamente pelas leis da República Federativa do Brasil, ainda que esta LICENÇA DE USO busque sua integração às principais legislações de outros países.
		Os USUÁRIOS, mesmo que sejam naturais e/ou residam em outros países que não o Brasil, estarão sujeitos às normas e regras da legislação nacional brasileira, no que tange a esta LICENÇA DE USO.
		As partes elegem o foro da comarca da cidade de Curitiba, Estado do Paraná, Brasil, para dirimir qualquer lide oriunda deste contrato de LICENÇA DE USO, renunciando a qualquer outro foro, por mais privilegiado que seja.

		Perguntas ou sugestões referentes à LICENÇA DE USO da PUUUBLIC
		Entre em contato através do e-mail <a href="mailto:legal@puuublic.com">legal@puuublic.com</a>.
	</article>
	<article>

		<h5>Política de privacidade da Puuublic</h5>

		"Uma política de privacidade é o conjunto de diretrizes que determinam as atitudes de uma organização referente a informações capazes de identificar seus clientes."
	</article>
	<article>
		<h5>1. Coleta e uso de informações</h5>
		A PUUUBLIC coleta informações capazes de identificar um USUÁRIO quando ele se cadastra ou utiliza o SISTEMA PUUUBLIC.
		O endereço IP de um USUÁRIO também é armazenado nas bases de dados da PUUUBLIC quando o USUÁRIO se registra e/ou posta um novo conteúdo no SISTEMA PUUUBLIC.
	</article>
	<article>
		<h5>2. Compartilhamento de informações</h5>
		A PUUUBLIC só compartilha informações capazes de identificar um USUÁRIO, incluindo endereço de IP, quando existir uma ordem judicial para tal ou se o USUÁRIO cometer alguma ação que viole a LICENÇA DE USO do SISTEMA PUUUBLIC.
	</article>
	<article>
		<h5>3. Uso de Informações pela PUUUBLIC</h5>
		A PUUUBLIC pode compilar informações de seus USUÁRIOS em relatórios estatísticos e qualittivos para fins comerciais e de desenvolvimento.
		A PUUUBLIC pode utilizar as informações coletadas para comunicar-se, institucionalmente e comercialmente, com seus  USUÁRIOS.
	</article>
	<article>
		<h5>4. Capacidade do USUÁRIO de editar e excluir suas informações da conta</h5>
		A PUUUBLIC permite que o USUÁRIO edite as suas informações de conta a qualquer instante, enquanto o seu cadastro estiver ativo.
	</article>
	<article>
		<h5>5. Segurança</h5>
		As informações da conta de um USUÁRIO são protegidas por senha para a sua segurança e privacidade.
	</article>
	<article>
		<h5>6. Mudanças na Política de Privacidade</h5>
		A PUUUBLIC pode alterar esta política de privacidade a qualquer momento.
		Quando for efetuada alguma alteração na Política de Privacidade, será realizada uma postagem no SISTEMA PUUUBLIC.

		Para perguntas ou sugestões referentes à Política de Privacidade, entre em contato através do e-mail <a href="mailto:legal@puuublic.com">legal@puuublic.com</a>.
	</article>
</section>

{% endblock wrapper %}