* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 18px;
    font-size: 13px;
    text-align: left;
    color: #4D4D4F;
}
#wrapper {
    width: 960px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    display: block;
    margin: 0px auto;
    position: relative;
}
#wrapper.aside hr{
    clear:left;
    width:70%;
}
article {
    padding: 10px;
}
.clear {
    clear: both;
}
.mini{
    font-size:0.85em;
}
figure img {
    margin-right: 10px;
}
a {
    color: #2484C6;
    text-decoration: none;
}
label {
    display: block;
}
dl dt{
    display: inline-block;
    padding:15px 5px 5px 0px;
}
dl dt a {
    color: #4D4D4F;
    font-weight: bolder;
    cursor: pointer;
}
dl dt a.selected {
    color: #efefef;
}
.no_result{
    padding: 0px;
    color: #4D4D4F;
}

