/* MODAL SETTINGS */

#modal {
    display:none;
    width:400px;
    background:#fff;
    border:6px solid #666;
    border:6px solid rgba(82, 82, 82, 0.698);
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

#modal div {
    padding:10px;
    background-color:#fff;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#modal h2 {
    margin:0;
    color:#fff;
    padding:5px 10px;
    font-size:20px;
}

#modal p {
    margin:10px;
    font-size:13px;
}

div#modal h2.alert{
    background-color:#449243;
}

div#modal h2.confirm{
    background-color:#E01B35;
}
