/*
NEW CSS
*/
.green-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #88c66f 0%,
        #47b64e 10%,
        #47b64e);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#88c66f),
        color-stop(0.10, #47b64e),
        to(#47b64e));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #449043;
    -moz-box-shadow:
        0px 0px 0px rgba(000,000,000,0),
        inset 0px 0px 0px rgba(255,255,255,0);
    -webkit-box-shadow:
        0px 0px 0px rgba(000,000,000,0),
        inset 0px 0px 0px rgba(255,255,255,0);
    box-shadow:
        0px 0px 0px rgba(000,000,000,0),
        inset 0px 0px 0px rgba(255,255,255,0);
    text-shadow:
        0px 0px 0px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,0);

    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#88c66f, endColorStr=#47b64e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#88c66f, endColorStr=#47b64e);
    display:inline-block; /* IE is so silly */

}


.grey-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4e4d50;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #f2f2f2 10%,
        #f2f2f2);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        color-stop(0.10, #f2f2f2),
        to(#f2f2f2));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    -moz-box-shadow:
        0px 0px 0px rgba(000,000,000,0),
        inset 0px 0px 0px rgba(255,255,255,0);
    -webkit-box-shadow:
        0px 0px 0px rgba(000,000,000,0),
        inset 0px 0px 0px rgba(255,255,255,0);
    box-shadow:
        0px 0px 0px rgba(000,000,000,0),
        inset 0px 0px 0px rgba(255,255,255,0);
    text-shadow:
        0px 0px 0px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,0);
    
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#f2f2f2);
    display:inline-block; /* IE is so silly */


}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input
{
    border-radius:0;
}

.hero-unit{
    background:url('../img/parabolica.jpg'); 
    background-repeat: no-repeat;
    border-radius:0;
    color:#fff;
    padding-bottom:0;
    margin-bottom:0;
    margin-top:50px;
}

.hero-unit h1{
    font-size:36px;
    font-weight:normal;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:4px;
    margin-top:0;
}

.hero-unit .about {
    font-size:15px;
    margin:0;
    line-height:20px;
}

.container  > footer{
    min-height:30px;
    margin-left:30%;
}


footer > ul {
    list-style-type:none;

}

footer > ul > li {
    float:left;
    padding-left:10px;
    font-size:10px;
}

hr{
    margin:0;
    padding:0;
}

.navbar-inner{
    height:60px;
}

.navbar-inverse .navbar-inner{
    background-image:none;
    background:#fff;
    border:0;
}

.navbar .nav > li.border{
    border-right:1px solid #dee;
}

.puuublic-menu{
    padding-top:10px;
}

.navbar-inner-index{
    height:75px;    
}
.control-label{
    margin-right:4px;
    font-size:12px;
}

.control-group  input[type="text"], .control-group input[type="password"]  {
    padding:7px;
    padding-right:4px;
    font-size: 14px;
    width: 319px;
    height:15px;
}

.right {
    margin-left:30px;
}

.center{
   text-align:center; 
}

.no-margin-left{
    margin-left:0;
}

.terms {
    float:right;
}
.terms > p {
    font-size:10px;
    line-height:13px;
    text-align:right;
}

.terms > p > a{
    text-decoration:underline;
    color:#fff;
}

.form-horizontal .control-group{
    margin-bottom:4px;
}

.large{
    width:332px;
}

.config-large{
    width:447px;
    border-radius:0;
}

.config-medium{
    border-radius:0;
    width:150px;
}

.medium{
    width:200px;    
}

.home-search{
    margin-top:18px;
}

.home-search  > form{
    background:#fff;
    width:372px;
}

.home-search  > form > input{
    margin:5px;
    padding:4px;
    padding-left:4px;
    border:0;
}

.nav-search{
    float:left;
    border:1px solid #ccc;
    height:30px;
    padding:3px;
}

.nav-search  > form{
    background:#fff;
    margin:0;
    height:20px;
}

.nav-search  > form > input{
    border:0;
    padding:4px;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a{
    color:#000;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
    color:#0088CC;
}

.user-page h2 {
    font-size:19px;
    color:#2383C5;
    font-weight:normal;
    margin:0;
    margin-top:30px;
}


figure{
    margin:0;    
}

.border-top{
    border-top:1px solid #edeeee;
    padding-top:10px;
}

.puuublic-menu{
    margin-top:0;    
}

.navbar .brand{
    padding-top:7px;
}

.forgot-pass{
    font-size:13px;
    text-decoration:underline;
    color:#BABCBF;
    margin-right:80px;
}

.navbar-fixed-top, .navbar-fixed-bottom{
    position:fixed;    
}

.small {
    font-size:10px;    
    color:#C8C9CB;
}

.small > a {
    text-decoration:underline;
}

.publication {
    padding-bottom:30px;
    height:35px;
}

.modal-backdrop, .modal-backdrop.fade.in{
    opacity:0.3;    
}

.modal {
   border:none;
   border-radius:0;
   background-clip:none;
   margin-top:-85px;
}

.modal .modal-header > h3 {
    font-size:15px;    
}

#recover-form > ul {
    list-style-type:none;
}

ul.errors {
    list-style-type:none;
    color:red;
}

.red-line{
    background:red;
    height:5px;
}

.green-line{
    background:green;
    height:5px;
}

.institucional {
    margin-top:60px;    
}

.institucional  h2, .institucional h5{
    color:#0088CC;
    font-weight:normal;
}

.institucional h5{
    font-size:17px;    
}

.termos{
    margin-top:60px;    
}

.termos  h2, .termos h5{
    color:#0088CC;
    font-weight:normal;
}

.termos h5 {
    font-size:17px;    
}

.contato {
    margin-top:60px;   
}

.contato h2{
    color:#0088CC;
    font-weight:normal;
}

.contato span{
    color:gray;   
    font-size:13px;
}

.contato input[type="text"]{
    width:460px; 
    height:30;
    padding:4px;
    border-radius:0;
}


.contato textarea{
    width:425px;    
}

.user-page{
    margin-top:75px;
}

.user-page h4{
    line-height:0;    
}

.config {
    margin-top:60px;
}

.config h2{
    color:#0088CC;
    font-weight:normal;
}


.select-large{
    width:460px;
}


select {
    width:150px;
}

.search-large{
    width:313px;
}


.config-hr{
    margin-bottom:3px;
}

.config-right{
    text-align:right;
}

.theme-add{
    margin-top:60px;
}

.theme-add h2{
    color:#0088CC;
    font-weight:normal;
}

.theme-add h3{
    font-weight:normal;
    color:#0088CC;
    font-size:15px;
}

.theme-large {
    width:930px;
}

.remaining{
    font-size:20px;
    font-weight:bold;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a{
    text-shadow:none;    
}

.theme-page{
    margin-top:60px;    
}

.theme-page h2{ 
    color: #2383C5;
    font-weight:normal;
}

.publication-add {
    margin-top:60px;    
}

.publication-add h2{
    color:#0088CC;
    font-weight:normal;
}

.publication-add textarea{
    width:930px;   
    height:200px;
}

.pub-title{
    font-size:16px;
    font-weight:bold;
}
.home > h2 {
    color:#0088CC;
    font-weight:normal;
    font-size:16px;
}

.publication-page {
    margin-top:60px;
}

.publication-page h1{
    color:#0088CC;
}

.publication-page h2, .publication-page h3{
    color:#0088CC;
    font-weight:normal;
}

.publication-page .comments {
    margin-bottom:10px;
}

.publication-page .comments .message{
    overflow:scroll;
}

#profile-image-clear_id > label{
    width:50px;
}

.puublic-dropdown{
    position:fixed;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle
{
    background:#fff;
    color:#000;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret
{
    border-bottom-color:#999;
    border-top-color:#999;

}

.dropup, .dropdown{
    left:1100px;
    position:fixed;
}

.lupa{
    margin-top:-6px;
}

.search-result{
    margin-bottom:15px;    
}

.home-right{
    float:right;    
}

.create-account{
    background-color:#cecece;    
    margin-top:60px;
    padding-left:17%;
    padding-top:10px;
    height:60px;
    border-radius:0;
}
.p-create-account{
    font-size:12px;    
}

/* captcha text input size */ 
#id_captcha_1{
    width:236px;
}

img.captcha {
    width:80px;
    height:30px;
}
.js-captcha-refresh {
  margin-bottom:-5px;
}
.js-captcha-refresh a{
  font-size:14px;
  color: #fff;
}
