footer {
    padding: 10px 0px;
    margin-top:50px;
    clear: both;
    bottom:-1px;
    display: block;
    border-top:1px solid #DCDBDC;
    bottom:0;
    width:100%;
    position:absolute;
}

footer nav {
    width: 960px;
    display: block;
    margin: 0px auto;
}

footer nav ul {
    display:inline;
}

footer nav ul li {
    list-style:none;
    display:inline-block;
    padding-right:15px;
}