{% load i18n %}
<nav>
    <ul>
        <li class="#">
            <a href="{% url website:novidades %}">{% trans 'Novidades' %}</a>
        </li>
        <li class="#">
            <a href="{% url website:institucional %}">{% trans 'Institucional' %}</a>
        </li>
        <li class="#">
            <a href="{% url website:termos %}">{% trans 'Termos' %}</a>
        </li>
        <li class="#">
            <a href="{% url website:contato %}">{% trans 'Contato' %}</a>
        </li>
        <li>
            Puuublic @ 2012
        </li>
    </ul>
</nav>
