{% load i18n %}
<a href="{% url website:home %}"><nav class="logo"></nav></a>
{% if user.is_authenticated %}
<ul class="nav">
    <li class="#"><a href="{% url website:home %}">{% trans 'Inicio' %}</a></li>
    <li class="#"><a href="{% url public:register %}">{% trans 'Publicar' %}</a></li>
    <li class="#"><a href="{% url public:group %}">{% trans 'Criar Puuublic' %}</a></li>
    <li class="#"><a href="#">{% trans 'Perfil' %}</a></li>
    <li class="#"><a href="#">{% trans 'Configurar' %}</a></li>
    <li class="#"><a href="{% url website:weblogout %}">{% trans 'Sair' %}</a></li>
    <li class="right">
		<form action="{% url website:home_user user %}" method="POST" name="search_public">
             {% include 'search_form.html' %}
        </form>
    </li>
</ul>
{% endif %}
