{% load i18n %}
{% if user.is_authenticated %}
<a href="{% url website:publications %}"><nav class="logo"></nav></a>
{% else %}
<a href="{% url website:dashboard user %}"><nav class="logo"></nav></a>
{% endif %}
{% if user.is_authenticated %}
<ul class="nav">
    <li class="#"><a href="{% url website:dashboard user %}">{% trans 'Inicio' %}</a></li>
	<li class="#"><a href="{% url publication:publication_add %}">{% trans 'Publicar' %}</a></li>
    <li class="#"><a href="{% url publication:theme_add %}">{% trans 'Criar Puuublic' %}</a></li>
    <li class="#"><a href="{% url website:publications_user user %}">{% trans 'Perfil' %}</a></li>
    <li class="#"><a href="#">{% trans 'Configurar' %}</a></li>
    <li class="#"><a href="{% url website:weblogout %}">{% trans 'Sair' %}</a></li>
    <li class="right">
		<form action="{% url website:publications %}" method="POST" name="search_publication">
             {% include 'search_form.html' %}
        </form>
    </li>
</ul>
{% endif %}
