{% extends 'base.html' %}
{% load i18n thumbnail default_image %}

{% block wrapper %}
<aside class="col_right_form">
    <section class="recently_publication_list">
        <h4>Publicationações mais recentes</h4>
        {% for pub in user.Publications.must_popular %}
        <article>
            {% thumbnail pub.image "38" as im %}
            <figure>
                <img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
            </figure>
            {% empty %}
            <figure>
                <img src="{% random_image %}" title="{{ pub.title }}" width="38">
            </figure>
            {% endthumbnail %}
            <h5>{{ pub.title }}</h5>
            {{ pub.message|truncatewords_html:9 }}
            <div align="right">
                no puuublic <a href="#">{{ pub.user.username }}</a>
            </div>
        </article>
        {% endfor %}
    </section>
</aside>
<section class="form_Publication">
    <h1>{{ publication.title }}</h1>
    {% thumbnail Publication.image "950x200" as im %}
    <figure>
        <img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
    </figure>
    {% endthumbnail %}
    {{ publication.message|safe }}
    <div class="edit_bar">
        EDIT BAR
    </div>
    <h4> Commentar esta Publicationação </h4>
    <form action="" name="form_comment" id="id_form_comment">
        {{ form_comment.as_p }}
        <button type="submit">
            Enviar
        </button>
    </form>
    <section class="comments">
        <h4>Comentários ({{ publication.comments.count|default:0 }})</h4>
        {% for comment in Publication.comments.last_ten %}
        <article>
            {% thumbnail comment.user.get_profile.image "67" as im %}
            <figure>
                <img src="{{ im.url }}" title="{{ pub.title }}" width="{{ im.width }}" height="{{ im.height }}">
            </figure>
            {% empty %}
            <figure>
                <img src="{{ default.image.url }}" title="{{ pub.title }}" width="{{ default.image.width }}" height="{{ default.image.height }}">
            </figure>
            {% endthumbnail %}
            {{ comment.message }}
        </article>
        {% endfor %}
    </section>
</section>
{% endblock wrapper %} 