{% extends 'base.html' %}
{% load i18n %}

{% block main %}
<div class="container theme-add">
	<h2>Crie um novo Puuublic</h2>
    <hr/>
    <p>Escolha um nome que defina bem o assunto e lembre-se que puuublics são páginas públicas, e todos poderão publicar nelas.</p>
    <br/>
    {% if theme_slug %}
    <h3>Você pode criar o tema {{ theme_slug }} agora! Preencha o formulário abaixo e clique em criar.</h3>
    {% endif %}
    <div class="row">
        <div class="span12">
            <p><i class="icon-file"></i> Digite o nome do novo puuublic</p>
            <form id="themeForm" action="{% url website:theme_add %}" method="POST" onsubmit="return false" >
                {% csrf_token %}
                {{ theme_form.title }}
        </div>
    </div>
    <div class="row">
        <div class="span6">
             <div class='auto_url'>
                <p>O endereço deste puuublic será:</p>
                <a href='#'>http://puuublic.com/</a>
            </div>
        </div>
        <div class="span6 config-right">
            <span class="remaining"></span> 
            <button class="green-button" type="submit">Criar</button>
        </div>
        </form>
    </div>
</div>
<br/>
{% endblock  %}
