{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block main %}
    <div class="reset">
        <div class="website-form">
            <h2 class="brown">{% trans "Confirm your new password" %}</h2>

            <form action="" method="post">
                <ul class="form">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li>
                        <button class="slick red">{% trans "Change password" %}</button>
                    </li>
                </ul>
            </form>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
